.spellImg {
    width: 4.5rem;
    border-radius: 0.5rem;
    border: 0.15rem white solid;
}

.lvlBox {
    width: 2rem;
    border-radius: 0.4rem;
    display: inline-block;
    position: absolute;
    transform: translate(-7.8rem, 5.6rem);
    background-color: rgb(41, 47, 62);
    border: 2px rgb(0, 0, 0) solid;
    font-size: 1.8rem;
    text-align: center;
    z-index: 2;
}

.lvlBoxMax {
    height: 2rem;
    width: 2rem;
    border-radius: 0.4rem;
    display: inline-block;
    position: absolute;
    transform: translate(-7.8rem, 5.6rem);
    background-color: rgb(255, 179, 0);
    border: 0.15rem rgb(255, 225, 154) solid;
    font-size: 1.8rem;
    text-align: center;
    z-index: 2;
    color: black;
}

.wrapper {
    position: static;
}

.ccOrOwn {
    position: absolute;
    transform: translate(0.5rem, -8rem);
    background-color: rgb(41, 47, 62);
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: 0.15rem rgb(0, 0, 0) solid;
    letter-spacing: 0.05rem;
}