nav {
    height: 5rem;
    background: linear-gradient(0deg, rgba(54, 54, 54, 1) 30%, rgba(76, 76, 74, 1) 100%);
    border-bottom: 0.5rem solid rgb(50, 50, 50);
    border-top: 0.5rem solid rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.heading {
    font-weight: bold;
    margin-top: 0.2rem;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.tag {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    color: rgb(193, 190, 190);
}

.tag a {
    color: rgb(193, 190, 190);
    text-decoration: none;
    cursor: pointer;
}